.banner {
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/qa.png?raw=true) no-repeat center;
    width: 100%;
    height: 304px;
    background-size: cover;
    margin-bottom: 16px;

    @include pad() {
        background-position: 30% center;
        margin-bottom: 8px;
    }

    @include phone() {
        height: 143px;
    }

    .container {
        display: flex;
        height: 100%;
        align-items: flex-end;
    }

    &-title {
        display: flex;
        align-items: center;

        img {
            width: 48px;
            height: 48px;

            @include phone() {
                width: 24px;
                height: 24px;
            }
        }

        h2 {
            font-size: 64px;
            font-weight: bold;
            margin-right: 24px;

            @include pad() {
                font-size: 48px;
                margin-right: 16px;
                padding-left: 40px;
            }

            @include phone() {
                font-size: 28px;
                padding-left: 15px;
            }
        }
    }

}

.question {
    display: none;

    @include pad() {
        display: block;
    }
}

.question-answer {
    margin-top: 80px;
    margin-bottom: 304px;

    @include pad() {
        padding: 0 40px;
        margin-top: 40px;
        margin-bottom: 104px;
    }

    @include phone() {
        padding: 0 15px;
        margin-top: 24px;
        margin-bottom: 56px;
    }

    h2 {
        font-size: 32px;
        line-height: 63px;
        font-weight: bold;
        margin-bottom: 36px;

        @include phone() {
            font-size: 20px;
            margin-bottom: 12px;
        }
    }

    h3 {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 16px;
        font-weight: bold;

        @include phone() {
            margin-bottom: 8px;
        }
    }

    li {
        margin-bottom: 40px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        padding-left: 6em;

        @include pad() {
            padding-left: 3em;
        }
    }
}

.answerA {
    @include phone() {
        margin-bottom: 20px;

    }

}